<section class="registration-section">
    <div class="registration-container">
      <div class="registration-card">
        <div class="registration-card-header">
          <h3>Login Form</h3>
        </div>
        <div class="registration-card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" placeholder="Enter your email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" placeholder="Enter your password" [(ngModel)]="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-secondary btn-register" (click)="navigateToRegister()">Register</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  
  